﻿@model IEnumerable<APP_12.Models.Entities.MyMaskot.Paciente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NroRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClienteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EspecieId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatosParticulares)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NroRegistro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRegistro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EspecieId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Peso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatosParticulares)
        </td>
        <td>
            @*Html.ActionLink("Edit", "Edit", new { id=item.PacienteId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PacienteId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PacienteId })|*@
            @Html.ActionLink("Ver Consultas", "GetByPacienteId","Consulta", new { pacienteId = item.PacienteId },null) | 
            @Html.ActionLink("Nueva Consulta", "Create", "Consulta", new { pacienteId = item.PacienteId }, null)
        </td>
    </tr>
}

</table>
