﻿@model IEnumerable<APP_12.Models.Entities.Post>

@{
    ViewBag.Title = "Posts";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    <div class="alert alert-success">
        <p>
            <i> @Html.DisplayFor(modelItem => item.Categoria.Nombre)</i>
        </p>
        <p>
            <strong>@Html.DisplayFor(modelItem => item.Titulo)</strong>
        </p>
        <p>
            @Html.DisplayFor(modelItem => item.Contenido)
        </p>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = item.PostId }) |
            @Html.ActionLink("Details", "Details", new { id = item.PostId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PostId }) |
            @Html.ActionLink("CreateComment", "Create", "Comentario", new { postId = item.PostId },null) |
            @Html.ActionLink("ViewComments", "GetByPostId", "Comentario" , new { postId = item.PostId },null)
        </p>
    </div>
}